#detailsCountries{
    width: 80%;
    background-color: antiquewhite;
    margin-top: 40px;
    padding-bottom: 10px;
}

#detailsCountries span {
    margin-left: 10px;
    font-weight: normal;
}

#detailsCountries h3{
    margin-left: 10px;
}